POSTGRES_USER=mlops
POSTGRES_PASSWORD=your_password
POSTGRES_DB=telcochurn
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_minio_password
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=your_minio_password
MLFLOW_TRACKING_URI=http://localhost:5000
REDIS_HOST=redis
REDIS_PORT=6379
